@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Raleway:wght@300;400;500;600;700;800&display=swap");

:root {
    --dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(78, 45%, 43%);
    --light-grayish-blue: hsl( 240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, 
h2,
h3,
h4,
button,
nav {
    font-family: 'Raleway', sans-serif;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

header img {
    width: 80px;
}

nav a {
    text-decoration: none;
    color: var(--desaturated-blue);
    font-weight: 600;
    margin: 0 8px;
    font-size: 12px;
}

/* Section 1 */

.banner {
    text-align: center;
    padding: 50px 0 150px;
    background-image: url('images/bg-curve-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.banner img {
    width: 100vw;
    padding: 40px 20px 20px;
}

.banner h1 {
    color: var(--dark-blue);
    line-height: 35px;
    padding: 18px 20px;
    font-weight: 800;
}

.banner p {
    color: var(--dark-blue);
    padding: 20px;
    font-weight: 500;
    font-size: 35px;
}

.banner .inputemail {
    height: 43px;
    border-radius: 3px;
    border: 2px solid rgba(128, 128, 128, 0.651);
    width: 90%;
    margin: 20px 20px 8px;
}

input[type="email"] {
    padding: 0 10px;
}

.banner input::placeholder {
    opacity: 40%;
}

/* .form[data-error] .inputemail {
        border-color: rgba(255, 0, 0, 288);
}

.form[data-error]::after {
    content: attr(data-error);
    font-size: 12px;
    color: red;
    display: block;
    margin: 0 20px;
    text-align: left;
} */

.inputbutton {
    background-color: var(--bright-blue);
    border: none;
    color: #fff;
    width: 90%;
    box-shadow: 10px 1px 10px 1px rgba(128, 128, 128, 0.329);
    padding: 12px;
    font-weight: 700;
    border-radius: 3px;
}

.inputbutton:hover {
    opacity: 65%;
    cursor: pointer;
}

/* Section 2 */

.two {
    padding: 50px 0 0;
    background-color: hsla(240, 80%, 98%, 0.795);
}

.right {
    padding-bottom: 60px;
}

.two img {
    width: 100vw;
    padding: 10px 20px 60px;
}

.two h2 {
    color: var(--dark-blue);
    padding: 18px 20px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.two p {
    color: var(--desaturated-blue);
    padding: 10px 20px;
    font-weight: 500;
    font-size: 14px;
    opacity: 95%;
}

.two a {
    color: var(--moderate-cyan);
    text-decoration: none;
    font-size: 13px;
    padding: 4px 0;
    border-bottom: 1px solid var(--moderate-cyan);
}

.linkcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.icon {
    background-image: url('images/icon-arrow.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    display: block;
    height: 27px;
    width: 25px;
    margin: 0;
    border-bottom: 1px solid var(--moderate-cyan);
}

.testimonial {
    background-color: #fff;
    box-shadow: 1px 1px 20px 1px rgba(128, 128, 128, 0.192);
    padding: 10px 25px 20px;
    margin: 40px;
    border-radius: 5px;
}

.testimonial p {
    color: #000;
    font-size: 11px;
    word-spacing: 4px;
    line-height: 18px;
    padding: 15px 0;
}

.profile,
.author {
    display: flex;
}

.profile {
    gap: 8px;
}

.profile img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.author {
    flex-direction: column;
}

.author p {
    padding: 0;
    font-size: 8px;
}




